In [36]:
import pandas as pd

In [37]:
df=pd.read_csv(r"D:\ITI Data engineering intensive camp\Big data\Project\mimic-iii-clinical-database-demo-1.4\ICUSTAYS.csv")

In [38]:
df

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325
1,12747,10011,105331,232110,carevue,MICU,MICU,15,15,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507
2,12749,10013,165520,264446,carevue,MICU,MICU,15,15,2125-10-04 23:38:00,2125-10-07 15:13:52,2.6499
3,12754,10017,199207,204881,carevue,CCU,CCU,7,7,2149-05-29 18:52:29,2149-05-31 22:19:17,2.1436
4,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,2163-05-16 03:47:04,1.2938
...,...,...,...,...,...,...,...,...,...,...,...,...
131,42676,44083,198330,286428,metavision,CCU,CCU,7,7,2112-05-29 02:01:33,2112-06-01 16:50:40,3.6174
132,42691,44154,174245,217724,metavision,MICU,MICU,50,50,2178-05-14 20:29:55,2178-05-15 11:31:12,0.6259
133,42709,44212,163189,239396,metavision,MICU,MICU,50,50,2123-11-24 14:14:29,2123-12-25 17:12:19,31.1235
134,42712,44222,192189,238186,metavision,CCU,CCU,7,7,2180-07-19 06:56:38,2180-07-20 14:48:45,1.3279
135,42714,44228,103379,217992,metavision,SICU,SICU,57,57,2170-12-15 04:41:39,2170-12-19 19:33:09,4.6191

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   row_id          136 non-null    int64
 1   subject_id      136 non-null    int64
 2   hadm_id         136 non-null    int64
 3   icustay_id      136 non-null    int64
 4   dbsource        136 non-null    object
 5   first_careunit  136 non-null    object
 6   last_careunit   136 non-null    object
 7   first_wardid    136 non-null    int64
 8   last_wardid     136 non-null    int64
 9   intime          136 non-null    object
 10  outtime         136 non-null    object
 11  los             136 non-null    float64
dtypes: float64(1), int64(6), object(5)
memory usage: 12.9+ KB

In [40]:
df.dtypes

row_id              int64
subject_id          int64
hadm_id             int64
icustay_id          int64
dbsource           object
first_careunit     object
last_careunit      object
first_wardid        int64
last_wardid         int64
intime             object
outtime            object
los               float64
dtype: object

In [41]:
df.drop(columns=['dbsource','first_careunit','last_careunit','first_wardid','last_wardid'],inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      136 non-null    int64
 1   subject_id  136 non-null    int64
 2   hadm_id     136 non-null    int64
 3   icustay_id  136 non-null    int64
 4   intime      136 non-null    object
 5   outtime     136 non-null    object
 6   los         136 non-null    float64
dtypes: float64(1), int64(4), object(2)
memory usage: 7.6+ KB

In [43]:
df['los_hours'] = df['los'] * 24  
print(df[['icustay_id', 'los', 'los_hours']])

     icustay_id      los  los_hours
0        206504   1.6325    39.1800
1        232110  13.8507   332.4168
2        264446   2.6499    63.5976
3        204881   2.1436    51.4464
4        228977   1.2938    31.0512
..          ...      ...        ...
131      286428   3.6174    86.8176
132      217724   0.6259    15.0216
133      239396  31.1235   746.9640
134      238186   1.3279    31.8696
135      217992   4.6191   110.8584

[136 rows x 3 columns]

In [44]:
df.head(2)

,row_id,subject_id,hadm_id,icustay_id,intime,outtime,los,los_hours
0,12742,10006,142345,206504,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325,39.1800
1,12747,10011,105331,232110,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507,332.4168

In [45]:
df['los_hours']=df['los_hours'].astype('int64')

In [46]:
df.head(2)

,row_id,subject_id,hadm_id,icustay_id,intime,outtime,los,los_hours
0,12742,10006,142345,206504,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325,39
1,12747,10011,105331,232110,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507,332

In [47]:
df.drop(columns=['los'],inplace=True)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      136 non-null    int64
 1   subject_id  136 non-null    int64
 2   hadm_id     136 non-null    int64
 3   icustay_id  136 non-null    int64
 4   intime      136 non-null    object
 5   outtime     136 non-null    object
 6   los_hours   136 non-null    int64
dtypes: int64(5), object(2)
memory usage: 7.6+ KB

In [50]:
import pyarrow as pa
import pyarrow.parquet as pq

# حول أعمدة التواريخ ل datetime
df['intime'] = pd.to_datetime(df['intime'])
df['outtime'] = pd.to_datetime(df['outtime'])

schema = pa.schema([
    ('row_id', pa.int64()),
    ('subject_id', pa.int64()),
    ('hadm_id', pa.int64()),
    ('icustay_id', pa.int64()),
    ('intime', pa.timestamp('ns')),
    ('outtime', pa.timestamp('ns')),
    ('los_hours',pa.int64())
])

# حول الـ DataFrame ل PyArrow Table
table = pa.Table.from_pandas(df, schema=schema, preserve_index=False)

# اكتبها في Parquet
pq.write_table(table.cast(schema),
                "D:\ITI Data engineering intensive camp\Big data\Project\Cleaned_data\ICUSTAYS.parquet",
                  version='2.6',
    use_dictionary=True,
    compression='SNAPPY', 
    flavor='spark')

<>:23: SyntaxWarning: invalid escape sequence '\I'
<>:23: SyntaxWarning: invalid escape sequence '\I'
C:\Users\AHMED\AppData\Local\Temp\ipykernel_31344\2601126944.py:23: SyntaxWarning: invalid escape sequence '\I'
  "D:\ITI Data engineering intensive camp\Big data\Project\Cleaned_data\ICUSTAYS.parquet",

In [ ]:
table = pq.read_table("D:\\ITI Data engineering intensive camp\\Big data\\Project\\Cleaned_data\\ADMISSIONS.parquet")



pq.write_table(
    table.cast(schema),
    "D:\\ITI Data engineering intensive camp\\Big data\\Project\\Cleaned_data\\ADMISSIONS.parquet",
    version='2.6',
    use_dictionary=True,
    compression='SNAPPY', 
    flavor='spark'
)

In [13]:
import os

print(os.getcwd())

c:\Users\windows\AppData\Local\Programs\Microsoft VS Code

In [52]:
df=pd.read_parquet("D:\ITI Data engineering intensive camp\Big data\Project\Cleaned_data\ICUSTAYS.parquet")
sc = pq.read_schema("D:\ITI Data engineering intensive camp\Big data\Project\Cleaned_data\ICUSTAYS.parquet")

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:2: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:2: SyntaxWarning: invalid escape sequence '\I'
C:\Users\AHMED\AppData\Local\Temp\ipykernel_31344\3533214200.py:1: SyntaxWarning: invalid escape sequence '\I'
  df=pd.read_parquet("D:\ITI Data engineering intensive camp\Big data\Project\Cleaned_data\ICUSTAYS.parquet")
C:\Users\AHMED\AppData\Local\Temp\ipykernel_31344\3533214200.py:2: SyntaxWarning: invalid escape sequence '\I'
  sc = pq.read_schema("D:\ITI Data engineering intensive camp\Big data\Project\Cleaned_data\ICUSTAYS.parquet")

In [53]:
sc

row_id: int64
subject_id: int64
hadm_id: int64
icustay_id: int64
intime: timestamp[ns]
outtime: timestamp[ns]
los_hours: int64